# Add system admins

# Add system admins
add_ace builtin.everyone qbcommands allow

# Add moderator group
add_principal group.moderator

# qb-admin permissions
add_ace group.admin qbadmin allow # admin can do everything

setr ea_LanguageName "EN"                # set our language to english
setr ea_MenuButton "212"			# set our menu button to F2. default: "289"
setr ea_alwaysShowButtons "false"	# we don't want to see buttons we can't even access, do we? default: "false"
set ea_moderationNotification "false"   # this can be either "false" or a discord webhook address, this will send a discord message if an admin takes actions against a player  ( such as banning and kicking )
set ea_custombanlist "false"            # read docs for this, dont touch it
set ea_enableCallAdminCommand "true" # enables "calladmin" command via webhook
set ea_enableReportCommand "true" # enables "report" command, see Configuration Wiki Page for More infos

add_ace group.moderator qbadmin.join allow

add_ace group.admin resource.els-plus command.add_ace allow

add_ace group.admin command allow # allow all commands

add_ace group.admin easyadmin allow
add_ace group.god easyadmin allow